<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>E-commerce | CoffeExpress</title>
    </head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__logotipo-img">
            <img src="../assets/img/local_cafe_black_24dp.svg" alt="Logo E-commerce CoffeExpress">
            <p class="cabecalho__logotipo-texto">CoffeExpress</p>
          </div>
    </header>
    <main >
        <section>
            <div style="text-align: center; color: red; font-weight: bold; font-size: 8rem;">
                !
            </div>
            <div class="cabecalho__logotipo-texto" style="padding: 2rem;">
                Ops! Algo de errado aconteceu. 
                <br>Você pode tentar novamente em alguns minutos.
                <br>Caso o erro persista contate nosso suporte.
            </div>
            <button onclick="location.href='../index.html'" style="background-color: brown;">
                Voltar a Página Inicial
            </button>
        </section>
    </main>
    <footer>
        <img src="../assets/img/local_cafe_white_24dp.svg">
        <p class="rodape__logotipo-textoBranco">CoffeExpress</p>
        <p class="copyright">&copy; Copyright Paula Raquel - 2022</p>
      </footer>
</body>
</html>
